openapi: 3.0.1
info:
  title: Zero Networks
  version: 1.0.2
  description: APIs for Zero Networks
servers:
  - url: 'https://portal.zeronetworks.com/api/v1'
    description: production
paths:
  /profile:
    get:
      operationId: Profile_Get
      description: Get user profile
      tags:
        - Profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /activities/network:
    get:
      operationId: NetworkActivities_List
      tags:
        - Activities
      summary: List Network Activities
      description: Returns a list of network activites.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activitiesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /activities/network/export:
    post:
      operationId: NetworkActivities_Export
      tags:
        - Activities
      summary: Export network activities
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/activities/network/export/csv/{exportId}':
    get:
      operationId: NetworkActivitiesExport_Get
      tags:
        - Activities
      summary: Download network activities export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
  /activities/network/filters:
    get:
      operationId: NetworkActivitiesFilters_List
      tags:
        - Activities
      summary: Get network activity filters
      description: Returns the filters that can be used for network activities.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /ai/next-batch:
    get:
      operationId: AINextBatch_Get
      tags:
        - Assets
      summary: AI Next Batch
      description: Returns a date in epoch(ms) for the next batch of AI rules.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextBatch'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets:
    get:
      operationId: Assets_List
      tags:
        - Assets
      summary: Assets
      description: Returns a list of assets.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/export:
    post:
      operationId: Assets_Export
      tags:
        - Assets
      summary: Export assets
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/export/csv/{exportId}':
    get:
      operationId: AssetsExport_Export
      tags:
        - Assets
      summary: Download assets export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
  /assets/filters:
    get:
      operationId: AssetsFilters_List
      tags:
        - Assets
      summary: Assets Filters
      description: Returns the filters that can be used for assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/linux:
    post:
      operationId: AssetsLinux_Create
      tags:
        - Assets Linux
      summary: Create linux asset
      description: Returns the assetId of the created Linux asset.
      requestBody:
        description: Linux asset details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linuxBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetIds'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/monitored:
    get:
      operationId: AssetsMonitored_List
      tags:
        - Assets Monitored
      summary: Monitored Assets
      description: Returns a list of assets that are monitored.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/monitored/filters:
    get:
      operationId: AssetsMonitoredFilters_List
      tags:
        - Assets Monitored
      summary: List Monitored Assets Filters
      description: Returns the filters that can be used for monitored assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/ot:
    get:
      operationId: AssetsOT_List
      tags:
        - Assets OT/IoT
      summary: List OT/IoT Assets
      description: Returns a list of OT/IoT assets.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetOtList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    post:
      operationId: AssetsOT_Create
      tags:
        - Assets OT/IoT
      summary: Create an OT/IoT asset
      description: Returns an empty object.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/otAssetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
    put:
      summary: Edit OT/IoT asset
      description: Edit an OT/IoT asset.
      operationId: AssetsOT_Update
      tags:
        - Assets OT/IoT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/otAssetEditBody'
  '/assets/ot/{assetId}':
    delete:
      operationId: AssetsOT_Delete
      tags:
        - Assets OT/IoT
      summary: Remove an OT asset
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/ot/filters:
    get:
      operationId: AssetsOTFilters_List
      tags:
        - Assets OT/IoT
      summary: List OT/IoT Assets Filters
      description: Returns a list of filters for OT/IoT assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/ot/actions/protect:
    post:
      operationId: AssetsOT_Protect
      tags:
        - Assets OT/IoT
      summary: Protect OT/IoT Assets
      description: Returns an empty response.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
            examples: {}
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/ot/actions/unprotect:
    post:
      operationId: AssetsOT_Unprotect
      tags:
        - Assets OT/IoT
      summary: Unprotect OT/IoT Asset
      description: Returns and empty body.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/actions/protect:
    post:
      operationId: Assets_Protect
      tags:
        - Assets Protected
      summary: Move asset from learning to protection
      description: Returns and empty object.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/actions/protect/validate:
    post:
      operationId: AssetsProtection_Validate
      tags:
        - Assets
      summary: Validate assets for protection
      description: Returns a number of assets that are valid for protection.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/protected:
    get:
      operationId: AssetsProtected_List
      tags:
        - Assets Protected
      summary: List Protected Assets
      description: Returns a list of Protected assets.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/protected/filters:
    get:
      operationId: AssetsProtectedFilters_List
      tags:
        - Assets Protected
      summary: List Assets Protected Filters
      description: Returns a list of filters for Protected assets.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/actions/queue:
    post:
      operationId: Assets_Queue
      tags:
        - Assets Monitored
      summary: Move asset from monitored to learning
      description: Returns and empty object.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
    put:
      operationId: Assets_ExtendQueue
      tags:
        - Assets Learning
      summary: Extend asset learning period
      description: Returns an empty object.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueExtendBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/queued:
    get:
      operationId: AssetsQueued_List
      tags:
        - Assets Learning
      summary: List Assets in learning
      description: Returns a list of assets in Learning.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/queued/filters:
    get:
      operationId: AssetsQueuedFilters_List
      tags:
        - Assets Learning
      summary: List Assets in Learning Filters
      description: Returns a list of filters for assets in Learning.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/searchId:
    get:
      operationId: Assets_Search
      tags:
        - Assets
      summary: Search Asset by FQDN
      description: Returns an assetId.
      parameters:
        - $ref: '#/components/parameters/fqdnParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /assets/statistics:
    get:
      summary: Get asset statistics
      operationId: AssetsStatistics_Get
      description: Returns an object with asset statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsStatistics'
              examples:
                example-1:
                  value: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      tags:
        - Assets
      security:
        - api_key: []
  /assets/states/statistics:
    get:
      summary: Get asset state statistics
      description: Returns an object with asset state statistics.
      tags:
        - Assets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsStatesStatistics'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: AssetsStatesStatistics_Get
      security:
        - api_key: []
  /assets/actions/unprotect:
    post:
      operationId: Assets_Unprotect
      tags:
        - Assets Protected
      summary: Unprotect asset
      description: Returns an empty object.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/actions/unprotect/validate:
    post:
      operationId: AssetsUnprotect_Validate
      tags:
        - Assets Protected
      summary: Validate assets for removing from protection
      description: Returns a number of assets that are valid to unprotect.
      requestBody:
        description: Array of assetIds to remove from protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
            examples: {}
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /audit:
    get:
      operationId: Audits_List
      tags:
        - Audit
      summary: List Audit Logs
      description: Returns a list of audit events.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /audit/export:
    post:
      operationId: Audits_Export
      tags:
        - Audit
      summary: Export audit log
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/audit/export/csv/{exportId}':
    get:
      operationId: AuditExport_Get
      tags:
        - Audit
      summary: Download audit export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
  /audit/filters:
    get:
      operationId: AuditsFilters_List
      tags:
        - Audit
      summary: List Audit Filters
      description: Returns a list of filters for Audit events.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /auth/challenge:
    post:
      operationId: AuthChallenge_POST
      tags:
        - Auth
      summary: Challenge API to get token
      description: Request OTP for login API.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/challengeBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/challengeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /auth/login:
    post:
      operationId: AuthLogin_POST
      tags:
        - Auth
      summary: Login to get token
      description: Login API after getting challenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /entities/encode-ip:
    get:
      operationId: Entity_EncodeIP
      tags:
        - Entity
      summary: Encode IP to Asset
      description: Returns the assetId after encoding the IP address.
      parameters:
        - $ref: '#/components/parameters/ipParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encodedEntity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /entities/encode-ip-range:
    get:
      operationId: Entity_EncodeIPRange
      tags:
        - Entity
      summary: Encode IP range
      description: Returns the assetId after encoding the IP range.
      parameters:
        - $ref: '#/components/parameters/ipRangeParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encodedEntity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                example-1:
                  value:
                    error: string
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /entities/encode-subnet:
    get:
      operationId: Entity_EncodeSubnet
      tags:
        - Entity
      summary: Encode IP Subnet
      description: Returns the assetId after encoding the IP subnet.
      parameters:
        - $ref: '#/components/parameters/ipSubnetParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encodedEntity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/{assetId}':
    get:
      operationId: Asset_Get
      tags:
        - Assets
      summary: Get an asset
      description: Returns the properties of an asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/{assetId}/ancestors':
    get:
      operationId: AssetMemberOf_Get
      tags:
        - Assets
      summary: Get an asset ancestors
      description: Returns a list of groups the asset is a member of.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ancestors'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/{assetId}/audit':
    get:
      operationId: AssetsAudit_Get
      tags:
        - Assets
      summary: Get a assets audits
      description: Returns a list of audits for the asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/orderParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/{assetId}/tags':
    get:
      operationId: AssetTags_Get
      tags:
        - Assets
      summary: Get asset tags
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      description: Returns a list of tags for an entity.
  '/assets/{assetId}/analysis':
    get:
      operationId: AssetAnalysis_Get
      tags:
        - Assets
      summary: Get an asset analysis
      description: Returns an object with asset analysis data.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/sortParameter'
        - $ref: '#/components/parameters/directionParameter'
        - $ref: '#/components/parameters/connectionStateParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetAnalysis'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/{assetId}/analysis/export':
    post:
      operationId: AssetAnalysis_Export
      tags:
        - Assets
      summary: Export asset analysis
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/assets/{assetId}/analysis/export/csv/{exportId}':
    get:
      operationId: AssetAnalysisExport_Get
      tags:
        - Assets
      summary: Download asset analysis report
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
  '/assets/{assetId}/managers':
    get:
      summary: Get managers of asset
      tags:
        - Assets
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: Assets-AssetManagers_List
      description: Get asset managers of asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      security:
        - api_key: []
    post:
      summary: Add manager of asset
      tags:
        - Assets
      requestBody:
        description: Array of managers to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetManagersBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: Assets-AssetManagers_Add
      description: Add an asset manager of asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      security:
        - api_key: []
  '/assets/{assetId}/managers/{groupOrUserId}':
    delete:
      summary: Remove manager of asset
      tags:
        - Assets
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: Assets-AssetManagers_Delete
      description: Remove an asset manager of asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/groupOrUserIdParameter'
      security:
        - api_key: []
  '/assets/{assetId}/managers/candidates':
    get:
      summary: Get manager candidates
      tags:
        - Assets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: Assets-AssetManagersCandidates_List
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      description: Get manager candidates for asset managers
  /environments/deployments:
    get:
      operationId: TrustServers_List
      tags:
        - Settings
      summary: List trust server deployments
      description: Returns a list of trust servers.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploymentsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups:
    get:
      operationId: Groups_List
      tags:
        - Groups
      summary: List Groups
      description: Returns a list of groups.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/export:
    post:
      operationId: Groups_Export
      tags:
        - Groups
      summary: Export groups
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/groups/export/csv/{exportId}':
    get:
      operationId: GroupsExport_Get
      tags:
        - Groups
      summary: Download assets export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
  /groups/ad:
    get:
      operationId: ADGroups_List
      tags:
        - Groups Active Directory
      summary: List AD Groups
      description: Returns a list of AD groups.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/custom:
    get:
      operationId: CustomGroups_List
      tags:
        - Groups Custom
      summary: List Custom Groups
      description: Returns a list of Custom groups.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    post:
      operationId: CustomGroups_Create
      tags:
        - Groups Custom
      summary: Create Custom Group
      description: Returns an empty object.
      requestBody:
        description: Protection Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: Already exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/custom/filters:
    get:
      operationId: CustomGroupsFilters_Get
      tags:
        - Groups Custom
      summary: List filters for custom groups
      description: Returns a list of filters for Custom Groups.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/groups/custom/{groupId}':
    put:
      operationId: CustomGroups_Update
      tags:
        - Groups Custom
      summary: Update Custom Group
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    delete:
      operationId: CustomGroups_Delete
      tags:
        - Groups Custom
      summary: Delete Custom Group
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/custom/member-candidates:
    get:
      operationId: CustomGroupsCandidates_List
      tags:
        - Groups Custom
      summary: List Custom Groups member candidates
      description: Returns a list of candidates for custom group membership.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/groupIdQueryParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/groups/custom/{groupId}/members':
    put:
      operationId: CustomGroupsMembers_Add
      tags:
        - Groups Custom
      summary: Add Custom Group members
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    delete:
      operationId: CustomGroupsMembers_Delete
      tags:
        - Groups Custom
      summary: Delete Custom Group members
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/filters:
    get:
      operationId: GroupsFilters_List
      tags:
        - Groups
      summary: Get groups filters
      description: Returns a list of filters for Groups.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/statistics:
    get:
      summary: Get Group statistics
      description: Returns an object with group statistics.
      tags:
        - Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsStatistics'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: GroupsStatistics_Get
      security:
        - api_key: []
  /groups/successors/filters:
    get:
      operationId: GroupsSuccessorsFilters_List
      tags:
        - Groups
      summary: Get groups successors filters
      description: Returns a list of filters for Group members.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/system:
    get:
      operationId: SystemGroups_List
      tags:
        - Groups System
      summary: List System Groups
      description: Returns a list of System groups.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/system/filters:
    get:
      operationId: SystemGroupsFilters_Get
      tags:
        - Groups System
      summary: Get system groups filters
      description: Returns a list of filters for System groups.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/tag:
    get:
      operationId: TagGroups_List
      tags:
        - Groups Tags
      summary: List tags groups
      description: Returns a list of Tags.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /groups/tag/filters:
    get:
      operationId: TagGroupsFilters_List
      tags:
        - Groups Tags
      summary: Get tags groups filters
      description: Returns a list of filters for Tags.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/groups/{groupType}/{groupId}/successors':
    get:
      operationId: GroupsMembers_List
      tags:
        - Groups
      summary: List Group members
      description: Returns a list of potential members for a group.
      parameters:
        - $ref: '#/components/parameters/groupTypeParameter'
        - $ref: '#/components/parameters/groupIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/includeNestedMembersQueryParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitiesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /protection/protection-policies:
    get:
      operationId: ProtectionPolicies_List
      tags:
        - Protection Policies
      summary: List protection policies
      description: Returns a list of protection policies.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protectionPoliciesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    post:
      operationId: ProtectionPolicies_Create
      tags:
        - Protection Policies
      summary: Add protection policy
      description: Returns the protection policy that was created.
      requestBody:
        description: Protection Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/protectionPolicyBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protectionPolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  '/protection/protection-policies/{protectionPolicyId}':
    delete:
      operationId: ProtectionPolicies_Delete
      tags:
        - Protection Policies
      summary: Remove protection policy
      description: Returns and empty object.
      parameters:
        - $ref: '#/components/parameters/protectionPolicyIdParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    put:
      operationId: ProtectionPolicies_Update
      tags:
        - Protection Policies
      summary: Update protection policy
      description: Returns the updated settings for the protection policy.
      parameters:
        - $ref: '#/components/parameters/protectionPolicyIdParameter'
      requestBody:
        description: Protection Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/protectionPolicyUpdateBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protectionPolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /protection/protection-policies/group-candidates:
    get:
      operationId: ProtectionPoliciesGroupCandidates_List
      tags:
        - Protection Policies
      summary: Get groups for protection policy
      description: Returns a list of candidates for protection policies.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupCandidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
  /protection/reactive-policies/distribution:
    get:
      summary: MFA distribution
      description: Returns and object with MFA distrubiton.
      tags:
        - MFA
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyDistribution'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: MFAPoliciesDistribution_List
      security:
        - api_key: []
  /protection/reactive-policies/statistics:
    get:
      summary: Get MFA statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePoliciesStatistics'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      operationId: MFAPoliciesStatistics_List
      tags:
        - MFA
      description: Returns an object with MFA statistics.
      security:
        - api_key: []
  /protection/reactive-policies/inbound:
    get:
      operationId: MFAInboundPolicies_List
      tags:
        - MFA Inbound
      summary: List Inbound MFA Policies
      description: Returns a list of inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    post:
      operationId: MFAInboundPolicies_Create
      tags:
        - MFA Inbound
      summary: Add Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after creation.
      requestBody:
        description: MFA properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  '/protection/reactive-policies/inbound/{reactivePolicyId}':
    get:
      operationId: MFAInboundPolicies_Get
      tags:
        - MFA Inbound
      summary: Get Inbound MFA Policy
      description: Returns a inbound MFA policy object.
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
        - api_key: []
    put:
      operationId: MFAInboundPolicies_Update
      tags:
        - MFA Inbound
      summary: Update Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after updating.
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Invalid API key
          content:
[...]
