openapi: 3.0.1
info:
  title: Zero Networks
  version: 1.0.2
  description: APIs for Zero Networks
servers:
  - url: 'https://portal.zeronetworks.com/api/v1'
    description: production
paths:
  /profile:
    get:
      operationId: Profile_Get
      description: Get user profile
      tags:
        - Profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /activities/network:
    get:
      operationId: NetworkActivities_List
      tags:
        - Activities
      summary: List Network Activities
      description: Returns a list of network activites.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /activities/network/export:
    post:
      operationId: NetworkActivities_Export
      tags:
        - Activities
      summary: Export network activities
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/activities/network/export/csv/{exportId}':
    get:
      operationId: NetworkActivitiesExport_Get
      tags:
        - Activities
      summary: Download network activities export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: [ ]
  /activities/network/filters:
    get:
      operationId: NetworkActivitiesFilters_List
      tags:
        - Activities
      summary: Get network activity filters
      description: Returns the filters that can be used for network activities.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /ai/next-batch:
    get:
      operationId: AINextBatch_Get
      tags:
        - Assets
      summary: AI Next Batch
      description: Returns a date in epoch(ms) for the next batch of AI rules.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextBatch'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets:
    get:
      operationId: Assets_List
      tags:
        - Assets
      summary: Assets
      description: Returns a list of assets.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/export:
    post:
      operationId: Assets_Export
      tags:
        - Assets
      summary: Export assets
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyAssets'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/export/csv/{exportId}':
    get:
      operationId: AssetsExport_Get
      tags:
        - Assets
      summary: Download assets export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  '/assets/{assetId}/audit/export':
    post:
      operationId: AssetsAudit_Export
      tags:
        - Assets
      summary: Export assets audits
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/audit/export/csv/{exportId}':
    get:
      operationId: AssetsAuditExport_Get
      tags:
        - Assets
      summary: Download assets audit export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  '/assets/{assetId}/actions/queue':
    put:
      operationId: AssetExtendQueue_Learn
      tags:
        - Assets
      summary: Extend asset learning
      description: Extend asset learning
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'Queue days to extand by'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueAssetExtendBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetQueue_Learn
      tags:
        - Assets
      summary: Extend asset learning
      description: Extend asset learning
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'Queue days'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueAssetBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/activities/network/export':
    post:
      operationId: AssetsActivities_Export
      tags:
        - Assets
      summary: Export assets Activities
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/activities/network/export/csv/{exportId}':
    get:
      operationId: AssetsActivitiesExport_Get
      tags:
        - Assets
      summary: Download assets audit export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound:
    get:
      operationId: AssetsMFAInboundPolicies_List
      tags:
        - Assets
      summary: Asset List Inbound MFA Policies
      description: Returns a list of inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsMFAInboundPolicies_Create
      tags:
        - Assets
      summary: Asset Add Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after creation.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: MFA properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
  '/assets/{assetId}/protection/reactive-policies/inbound/{reactivePolicyId}':
    get:
      operationId: AssetsMFAInboundPolicies_Get
      tags:
        - Assets
      summary: Asset Get Inbound MFA Policy
      description: Returns a inbound MFA policy object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    put:
      operationId: AssetsMFAInboundPolicies_Update
      tags:
        - Assets
      summary: Asset Update Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after updating.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
    delete:
      operationId: AssetsMFAInboundPolicies_Delete
      tags:
        - Assets
      summary: Asset Remove Inbound MFA Policy
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/dst-candidates:
    get:
      operationId: AssetsMFAInboundPoliciesDestinationCandidates_List
      tags:
        - Assets
      summary: Asset Get destination assets for Inbound MFA Policy
      description: Returns a list of candidates for the destionation of an inbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/filters:
    get:
      operationId: AssetsMFAInboundPoliciesFilters_List
      tags:
        - Assets
      summary: Asset List Inbound MFA Policy Filters
      description: Returns a list of filters for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/filters/dst-candidates:
    get:
      operationId: AssetsMFAInboundPoliciesDestinationCandidatesFilters_List
      tags:
        - Assets
      summary: Asset Get Inbound MFA Policies Destination Candidates Filters
      description: Returns a list of filters for destination candidates for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/filters/src-candidates:
    get:
      operationId: AssetsMFAInboundPoliciesSourceCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Inbound MFA Policies Source Candidates Filters
      description: Returns a list of filters for source candidates for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/filters/src-users-candidates:
    get:
      operationId: AssetsMFAInboundPoliciesSourceUsersCandidatesFilters_List
      tags:
        - Assets
      summary: Asset Get Inbound MFA Policies Source Users Filters
      description: Resturns a list of filters for source users on inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/mfa-methods:
    get:
      operationId: AssetsMFAInboundPoliciesMFAMethods_List
      tags:
        - Assets
      summary: Asset List Inbound MFA Policy Methods
      description: Returns a list of MFA methods for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyMethods'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/src-candidates:
    get:
      operationId: AssetsMFAInboundPoliciesSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound MFA Polcies Source Candidates
      description: Returns a list of source candidates on inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/inbound/src-users-candidates:
    get:
      operationId: AssetsMFAInboundPoliciesSourceUserCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound MFA Policies Source Users Candidates
      description: Returns a list of source user candidates for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srcUserCandidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound:
    get:
      operationId: AssetsMFAOutboundPolicies_List
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies
      description: Returns a list of outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsMFAOutboundPolicies_Create
      tags:
        - Assets
      summary: Asset Add Outbound MFA Policy
      description: Returns a the properties of outbound MFA policy created.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyOutboundBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
  '/assets/{assetId}/protection/reactive-policies/outbound/{reactivePolicyId}':
    get:
      operationId: AssetsMFAOutboundPolicies_Get
      tags:
        - Assets
      summary: Asset Get Outbound MFA Policy
      description: Returns the properties of an outbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    put:
      operationId: AssetsMFAOutboundPolicies_Update
      tags:
        - Assets
      summary: Asset Update Outbound MFA Policy
      description: Returns the updated properties of an outbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Reactive Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyOutboundBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
    delete:
      operationId: AssetsMFAOutboundPolicies_Delete
      tags:
        - Assets
      summary: Asset Remove Outbound MFA Policy
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/dst-candidates:
    get:
      operationId: AssetsMFAOutboundPoliciesDestinationCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies Destination Candidates
      description: Returns a list of destination candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/filters:
    get:
      operationId: AssetsMFAOutboundPoliciesFilters_Get
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies Filters
      description: Returns a list of filters for outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/filters/dst-candidates:
    get:
      operationId: AssetsMFAOutboundPoliciesDestinationCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies Destination Candidates Filters
      description: Returns a list of filters for destination candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/filters/src-candidates:
    get:
      operationId: AssetsMFAOutboundPoliciesSourceCandidatesFilters_List
      tags:
        - Assets
      summary: Asset Get Outbound MFA Policies Source Candidates Filters
      description: Returns a list of filters for source candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/filters/src-users-candidates:
    get:
      operationId: AssetsMFAOutboundPoliciesSourceUsersCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies Source Users Candidates Filters
      description: Returns a list of filsters for source users candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/mfa-methods:
    get:
      operationId: AssetsMFAOutboundPoliciesMFAMethods_List
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies Methods
      description: Returns a list of MFA methods on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyMethods'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/src-candidates:
    get:
      operationId: AssetsMFAOutboundPoliciesSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound MFA Policies Source Candidates
      description: Returns a list of source candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/reactive-policies/outbound/src-users-candidates:
    get:
      operationId: AssetsMFAOutboundPoliciesSourceUserCandidates_List
      tags:
        - Assets
      summary: Asset Get Outbound MFA Policies Source Users Candidates
      description: Returns a list of source users candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srcUserCandidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-allow:
    get:
      operationId: AssetsInboundAllowRules_List
      tags:
        - Assets
      summary: Asset List Inbound Allow Rules
      description: Returns a list of Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/entityParams'
        - $ref: '#/components/parameters/withCountParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
        - $ref: '#/components/parameters/directionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rulesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsInboundAllowRules_Create
      tags:
        - Assets
      summary: Asset Create Inbound Allow Rule
      description: Returns the properties of the created Inbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
  '/assets/{assetId}/protection/rules/inbound-allow/export':
    post:
      operationId: AssetsInboundAllowRules_Export
      tags:
        - Assets
      summary: Asset Export Inbound Allow Rules
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyRules'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/inbound-allow/export/csv/{exportId}':
    get:
      operationId: AssetsInboundAllowRulesExport_Get
      tags:
        - Assets
      summary: Download assets inbound allow rules export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/inbound-allow/{ruleId}':
    get:
      operationId: AssetsInboundAllowRule_Get
      tags:
        - Assets
      summary: Asset Get Inbound Allow Rule
      description: Returns the properties of an Inbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    put:
      operationId: AssetsInboundAllowRule_Update
      tags:
        - Assets
      summary: Asset Update Inbound Allow Rule
      description: Returns the properties of the update Inbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
    delete:
      operationId: AssetsInboundAllowRule_Delete
      tags:
        - Assets
      summary: Asset Remove Inbound Allow Rule
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/inbound-allow/review/approve/{ruleId}':
    put:
      summary: Asset Approve a "pending review" rule
      operationId: AssetsInboundAllowRulesReview_Approve
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
      description: Approve a "pending review" rule without changes
  '/assets/{assetId}/protection/rules/inbound-allow/review/approve-with-changes/{ruleId}':
    put:
      operationId: AssetsInboundAllowRulesReview_ApproveWithChanges
      tags:
        - Assets
      summary: Asset Update Inbound Allow Rule
      description: Approve a "pending review" rule with changes
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewApproveWithChanges'
  '/assets/{assetId}/protection/rules/inbound-allow/review/reject/{ruleId}':
    parameters:
      - $ref: '#/components/parameters/ruleIdParameter'
    delete:
      summary: Asset ''
      operationId: AssetsInboundAllowRulesReview_Deny
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      description: Reject a "pending review" rule (deletes rule)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewReason'
  /assets/{assetId}/protection/rules/inbound-allow/filters:
    get:
      operationId: AssetsInboundAllowRulesFilters_List
      tags:
        - Assets
      summary: Asset List Inbound Allow Rules Filters
      description: Returns a list of filters for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-allow/excluded-local-candidates:
    get:
      operationId: AssetsInboundAllowRulesExcludedDestinationCandidates_List
      tags:
        - Assets
      summary: Asset Get Inbound Allow Rules Excluded Destination Candidates
      description: Returns a list of excluded destionation candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-allow/local-candidates:
    get:
      operationId: AssetsInboundAllowRulesDestinationCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound Allow Rules Destination Candidates
      description: Returns a list of destionation candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-allow/filters/local-candidates:
    get:
      operationId: AssetsInboundAllowRulesDesinationCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Inbound Allow Rules Destination Candidates Filters
      description: Returns a list of filters for destination candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-allow/remote-candidates:
    get:
      operationId: AssetsInboundAllowRulesSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound Allow Rules Source Candidates
      description: Returns a list of source candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-allow/filters/remote-candidates:
    get:
      operationId: AssetsInboundAllowRulesSourceCandidatesFilters_List
      tags:
        - Assets
      summary: Asset Get Inbound Allow Rules Source Candidates Filters
      description: Returns a list of filters for source candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-block:
    get:
      operationId: AssetsInboundBlockRules_List
      tags:
        - Assets
      summary: Asset List Inbound Block Rules
      description: Returns a list of Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/entityParams'
        - $ref: '#/components/parameters/withCountParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
        - $ref: '#/components/parameters/directionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rulesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsInboundBlockRules_Create
      tags:
        - Assets
      summary: Asset Create Inbound Block Rule
      description: Returns the properties of the created Inbound Block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
  '/assets/{assetId}/protection/rules/inbound-block/export':
    post:
      operationId: AssetsInboundBlockRules_Export
      tags:
        - Assets
      summary: Asset Export Inbound Block Rules
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyRules'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/inbound-block/export/csv/{exportId}':
    get:
      operationId: AssetsInboundBlockRulesExport_Get
      tags:
        - Assets
      summary: Download assets inbound block rules export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/inbound-block/{ruleId}':
    get:
      operationId: AssetsInboundBlockRule_Get
      tags:
        - Assets
      summary: Asset Get Inbound Block Rule
      description: Returns the properties of the Inbound Block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    put:
      operationId: AssetsInboundBlockRule_Update
      tags:
        - Assets
      summary: Asset Update Inbound Block Rule
      description: Returns the properties of the updated Inbound Block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
    delete:
      operationId: AssetsInboundBlockRule_Delete
      tags:
        - Assets
      summary: Asset Remove Inbound Block Rule
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/inbound-block/review/approve/{ruleId}':
    put:
      summary: Asset Approve a "pending review" rule
      operationId: AssetsInboundBlockRulesReview_Approve
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
      description: Approve a "pending review" rule without changes
  '/assets/{assetId}/protection/rules/inbound-block/review/approve-with-changes/{ruleId}':
    put:
      operationId: AssetsInboundBlockRulesReview_ApproveWithChanges
      tags:
        - Assets
      summary: Asset Update Inbound Block Rule
      description: Approve a "pending review" rule with changes
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewApproveWithChanges'
  '/assets/{assetId}/protection/rules/inbound-block/review/reject/{ruleId}':
    delete:
      summary: Asset ''
      operationId: AssetsInboundBlockRulesReview_Deny
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      description: Reject a "pending review" rule (deletes rule)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewReason'
  /assets/{assetId}/protection/rules/inbound-block/filters:
    get:
      operationId: AssetsInboundBlockRulesFilters_Get
      tags:
        - Assets
      summary: Asset List Inbound Block Rules Filters
      description: Returns a list of filters for Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-block/excluded-local-candidates:
    get:
      operationId: AssetsInboundBlockRulesExcludedLocalCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound Block Rules Excluded Destination Candidates
      description: Returns a list of excluded destination candidates for Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-block/local-candidates:
    get:
      operationId: AssetsInboundBlockRulesDestinationCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound Block Rules Desintation Candidates
      description: Returns a list of destination candidates for Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-block/filters/local-candidates:
    get:
      operationId: AssetsInboundBlockRulesDestinationCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Inbound Block Rules Desination Candidates Filters
      description: Returns a list of filters destination candidates for Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-block/remote-candidates:
    get:
      operationId: AssetsInboundBlockRulesSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Inbound Block Rules Source Candidates
      description: Returns a list of source candidates for Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/inbound-block/filters/remote-candidates:
    get:
      operationId: AssetsInboundBlockRulesSourceCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Inbound Block Rules Source Candidates Filters
      description: Returns a list of filters for source candidates for Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block:
    get:
      operationId: AssetsOutboundBlockRules_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules
      description: Returns a list of outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/entityParams'
        - $ref: '#/components/parameters/withCountParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
        - $ref: '#/components/parameters/directionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rulesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsOutboundBlockRules_Create
      tags:
        - Assets
      summary: Asset Create Outbound Block Rule
      description: Returns the properties of the created outbound block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
  '/assets/{assetId}/protection/rules/outbound-block/export':
    post:
      operationId: AssetsOutboundBlockRules_Export
      tags:
        - Assets
      summary: Asset Export Outbound Block Rules
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyRules'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/outbound-block/export/csv/{exportId}':
    get:
      operationId: AssetsOutboundBlockRulesExport_Get
      tags:
        - Assets
      summary: Download assets outbound block rules export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/outbound-block/{ruleId}':
    get:
      operationId: AssetsOutboundBlockRule_Get
      tags:
        - Assets
      summary: Asset Get Outbound Block Rule
      description: Returns the properties of an outbound block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    put:
      operationId: AssetsOutboundBlockRule_Update
      tags:
        - Assets
      summary: Asset Update Outbound Block Rule
      description: Returns the properties of the updated outbound block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
    delete:
      operationId: AssetsOutboundBlockRule_Delete
      tags:
        - Assets
      summary: Asset Remove Outbound Block Rule
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/outbound-block/review/approve/{ruleId}':
    put:
      summary: Asset Approve a "pending review" rule
      operationId: AssetsOutboundBlockRulesReview_Approve
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
      description: Approve a "pending review" rule without changes
  '/assets/{assetId}/protection/rules/outbound-block/review/approve-with-changes/{ruleId}':
    put:
      operationId: AssetsOutboundBlockRulesReview_ApproveWithChanges
      tags:
        - Assets
      summary: Asset Update Outbound Block Rule
      description: Approve a "pending review" rule with changes
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewApproveWithChanges'
  '/assets/{assetId}/protection/rules/outbound-block/review/reject/{ruleId}':
    delete:
      summary: Asset ''
      operationId: AssetsOutboundBlockRulesReview_Deny
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      description: Reject a "pending review" rule (deletes rule)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewReason'
  /assets/{assetId}/protection/rules/outbound-block/filters:
    get:
      operationId: AssetsOutboundBlockRulesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Filters
      description: Returns a list of filters for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block/excluded-local-candidates:
    get:
      operationId: AssetsOutboundBlockRulesExcludedSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Excluded Source Candidates
      description: Returns a list of excluded source candidates for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block/filters/excluded-local-candidates:
    get:
      operationId: AssetsOutboundBlockRulesExcludedCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Excluded Source Candidates Filters
      description: Returns a list of filters for excluded source candidates for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block/local-candidates:
    get:
      operationId: AssetsOutboundBlockRulesSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Source Candidates
      description: Returns a list of source candidates for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block/filters/local-candidates:
    get:
      operationId: AssetsOutboundBlockRulesSourceCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Source Candidates Filters
      description: Returns a list of filters for source candidates for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block/remote-candidates:
    get:
      operationId: AssetsOutboundBlockRulesDestinationCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Destination Candidates
      description: Returns a list of destioantion candidates for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound-block/filters/remote-candidates:
    get:
      operationId: AssetsOutboundBlockRulesDestinationCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Block Rules Destination Canidates Filters
      description: Returns a list of filters for destination candidates for outbound block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound:
    get:
      operationId: AssetsOutboundAllowRules_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Rules
      description: Returns a list of Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/entityParams'
        - $ref: '#/components/parameters/withCountParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
        - $ref: '#/components/parameters/directionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rulesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsOutboundAllowRules_Create
      tags:
        - Assets
      summary: Asset Create Outbound Allow Rule
      description: Returns the properties of the created Outbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
  '/assets/{assetId}/protection/rules/outbound/export':
    post:
      operationId: AssetsOutboundAllowRules_Export
      tags:
        - Assets
      summary: Asset Export Outbound Allow Rules
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyRules'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/outbound/export/csv/{exportId}':
    get:
      operationId: AssetsOutboundAllowRulesExport_Get
      tags:
        - Assets
      summary: Download assets outbound allow rules export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/outbound/{ruleId}':
    get:
      operationId: AssetsOutboundAllowRule_Get
      tags:
        - Assets
      summary: Asset Get Outbound Allow Rule
      description: Returns the properties of an Outbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    put:
      operationId: AssetsOutboundAllowRule_Update
      tags:
        - Assets
      summary: Asset Update Outbound Allow Rule
      description: Returns the properties of the updated Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
    delete:
      operationId: AssetsOutboundAllowRule_Delete
      tags:
        - Assets
      summary: Asset Remove Outbound Allow Rule
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  '/assets/{assetId}/protection/rules/outbound/review/approve/{ruleId}':
    put:
      summary: Asset Approve a "pending review" rule
      operationId: AssetsOutboundAllowRulesReview_Approve
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
      description: Approve a "pending review" rule without changes
  '/assets/{assetId}/protection/rules/outbound/review/approve-with-changes/{ruleId}':
    put:
      operationId: AssetsOutboundAllowRulesReview_ApproveWithChanges
      tags:
        - Assets
      summary: Asset Update Outbound Allow Rule
      description: Approve a "pending review" rule with changes
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
      x-codegen-request-body-name: body
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewApproveWithChanges'
  '/assets/{assetId}/protection/rules/outbound/review/reject/{ruleId}':
    delete:
      summary: Asset ''
      operationId: AssetsOutboundAllowRulesReview_Deny
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
      description: Reject a "pending review" rule (deletes rule)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewReason'
  /assets/{assetId}/protection/rules/outbound/filters:
    get:
      operationId: AssetsOutboundAllowRulesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Rules Filters
      description: Returns a list of filters for Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound/excluded-local-candidates:
    get:
      operationId: AssetsOutboundAllowRulesExcludedSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Rules Excluded Source Candidates
      description: Returns a list of excluded source candidates for Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound/local-candidates:
    get:
      operationId: AssetsOutboundAllowRulesSourceCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Rules Source Candidates
      description: Returns a list of source candidates for Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound/filters/local-candidates:
    get:
      operationId: AssetsOutboundAllowRulesSourceCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Rules Source Candidates Filters
      description: Returns a list of filters for source candidates for Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound/remote-candidates:
    get:
      operationId: AssetsOutboundAllowRulesDestinationCandidates_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Destination Candidates
      description: Returns a list of destination candidates for Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/{assetId}/protection/rules/outbound/filters/remote-candidates:
    get:
      operationId: AssetsOutboundAllowRulesDestinationCandidatesFilters_List
      tags:
        - Assets
      summary: Asset List Outbound Allow Rules Destination Candidates Filters
      description: Returns a list of filters for destination candidates for Outbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/filters:
    get:
      operationId: AssetsFilters_List
      tags:
        - Assets
      summary: Assets Filters
      description: Returns the filters that can be used for assets.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/linux:
    post:
      operationId: AssetsLinux_Create
      tags:
        - Assets Linux
      summary: Create linux asset
      description: Returns the assetId of the created Linux asset.
      requestBody:
        description: Linux asset details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linuxBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetIds'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/monitored:
    get:
      operationId: AssetsMonitored_List
      tags:
        - Assets Monitored
      summary: Monitored Assets
      description: Returns a list of assets that are monitored.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/monitored/filters:
    get:
      operationId: AssetsMonitoredFilters_List
      tags:
        - Assets Monitored
      summary: List Monitored Assets Filters
      description: Returns the filters that can be used for monitored assets.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/ot:
    get:
      operationId: AssetsOT_List
      tags:
        - Assets OT/IoT
      summary: List OT/IoT Assets
      description: Returns a list of OT/IoT assets.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetOtList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
    post:
      operationId: AssetsOT_Create
      tags:
        - Assets OT/IoT
      summary: Create an OT/IoT asset
      description: Returns an empty object.
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/otAssetBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
  '/assets/ot/{assetId}':
    put:
      summary: Edit OT/IoT asset
      description: Edit an OT/IoT asset.
      operationId: AssetsOT_Update
      tags:
        - Assets OT/IoT
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/otAssetEditBody'
      security:
        - api_key: []
    delete:
      operationId: AssetsOT_Delete
      tags:
        - Assets OT/IoT
      summary: Remove an OT asset
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
  /assets/ot/filters:
    get:
      operationId: AssetsOTFilters_List
      tags:
        - Assets OT/IoT
      summary: List OT/IoT Assets Filters
      description: Returns a list of filters for OT/IoT assets.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: [ ]
  /assets/ot/actions/protect:
    post:
      operationId: AssetsOT_Protect
      tags:
        - Assets OT/IoT
      summary: Protect OT/IoT Assets
[...]
