openapi: 3.0.1
info:
  title: ZeroNetworks
  version: 1.0.2
servers:
  - url: 'https://portal.zeronetworks.com/api/v1'
paths:
  /activities/network:
    get:
      operationId: NetworkActivities_List
      tags:
        - Activities
      summary: Network Activities
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activitiesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /activities/network/export:
    post:
      operationId: NetworkActivities_Export
      tags:
        - Activities
      summary: Export network activities
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/activities/network/export/csv/{exportId}':
    get:
      operationId: NetworkActivitiesExport_Get
      tags:
        - Activities
      summary: Download network activities export
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /activities/network/filters:
    get:
      operationId: NetworkActivitiesFilters_List
      tags:
        - Activities
      summary: Get network activity filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /ai/next-batch:
    get:
      operationId: AINextBatch_Get
      tags:
        - Assets
      summary: AI Next Batch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextBatch'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets:
    get:
      operationId: Assets_List
      tags:
        - Assets
      summary: Assets
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/export:
    post:
      operationId: Assets_Export
      tags:
        - Assets
      summary: Export assets
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/assets/export/csv/{exportId}':
    get:
      operationId: AssetsExport_Export
      tags:
        - Assets
      summary: Download assets export
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/filters:
    get:
      operationId: AssetsFilters_List
      tags:
        - Assets
      summary: Assets Filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/linux:
    post:
      operationId: AssetsLinux_Create
      tags:
        - Assets
      summary: Create linux asset
      requestBody:
        description: 'Linux asset details'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linuxBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetIds'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/monitored:
    get:
      operationId: AssetsMonitored_List
      tags:
        - Assets-Monitored
      summary: Monitored Assets
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/monitored/filters:
    get:
      operationId: AssetsMonitoredFilters_List
      tags:
        - Assets-Monitored
      summary: Assets Filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/protect:
    post:
      operationId: Assets_Protect
      tags:
        - Assets-Protected
      summary: Move asset from learning to protection
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/ot:
    get:
      operationId: AssetsOT_List
      tags:
        - Assets-OT/IoT
      summary: List OT Assets
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetOtList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    post:
      operationId: AssetsOT_Create
      tags:
        - Assets-OT/IoT
      summary: Create OT/IoT asset
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/otAssetBody'
            examples:
              example-1:
                value:
                  ipv4: 192.168.0.1
                  type: 4
                  displayName: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/ot/{assetId}:
    delete:
      operationId: AssetsOT_Delete
      tags:
        - Assets-OT/IoT
      summary: Remove an OT asset
      parameters:
        - name: assetId
          in: path
          description: The id of the asset
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/ot/filters:
    get:
      operationId: AssetsOTFilters_List
      tags:
        - Assets-OT/IoT
      summary: Assets OT Filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/ot/protect:
    post:
      operationId: AssetsOT_Protect
      tags:
        - Assets-OT/IoT
      summary: Protect OT/IoT assets
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
            examples: {}
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/ot/unprotect:
    post:
      operationId: AssetsOT_Unprotect
      tags:
        - Assets-OT/IoT
      summary: Unprotect OT/IoT asset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/protect/validate:
    post:
      operationId: AssetsProtection_Validate
      tags:
        - Assets
      summary: Validate assets for protection
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
            examples: {}
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/protected:
    get:
      operationId: AssetsProtected_List
      tags:
        - Assets-Protected
      summary: Protected Assets
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/protected/filters:
    get:
      operationId: AssetsProtectedFilters_List
      tags:
        - Assets-Protected
      summary: Assets Protected Filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/queue:
    post:
      operationId: Assets_Queue
      tags:
        - Assets-Monitored
      summary: Move asset from monitored to learning
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
    put:
      operationId: Assets_ExtendQueue
      tags:
        - Assets-Learning
      summary: Extend asset learning period
      requestBody:
        description: Array of assetIds to move to protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueExtendBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/queued:
    get:
      operationId: AssetsQueued_List
      tags:
        - Assets-Learning
      summary: Assets in learning
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/queued/filters:
    get:
      operationId: AssetsQueuedFilters_List
      tags:
        - Assets-Learning
      summary: Get asset filters for assets in learning
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/searchId:
    get:
      operationId: Assets_Search
      tags:
        - Assets
      summary: Asset by FQDN
      parameters:
        - name: fqdn
          in: query
          schema:
            type: string
          example: laptoppc.domain.local
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /assets/statistics:
    get:
      summary: ''
      operationId: AssetsStatistics_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsStatistics'
              examples:
                example-1:
                  value: {}
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      tags:
        - Assets
      security:
        - api_key: []
  /assets/states/statistics:
    get:
      summary: AssetsStatesStatistics_Get
      tags:
        - Assets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsStatesStatistics'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: AssetsStatesStatistics_Get
      security:
        - api_key: []
  /assets/unprotect:
    post:
      operationId: Assets_Unprotect
      tags:
        - Assets-Protected
      summary: Unprotect asset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  /assets/unprotect/validate:
    post:
      operationId: AssetsUnprotect_Validate
      tags:
        - Assets-Protected
      summary: Validate assets for removing from protection
      requestBody:
        description: Array of assetIds to remove from protection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
            examples: {}
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /audit:
    get:
      operationId: Audits_List
      tags:
        - Audit
      summary: Audit Logs
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /audit/export:
    post:
      operationId: Audits_Export
      tags:
        - Audit
      summary: Export audit log
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/audit/export/csv/{exportId}':
    get:
      operationId: AuditExport_Get
      tags:
        - Audit
      summary: Download audit export
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /audit/filters:
    get:
      operationId: AuditsFilters_List
      tags:
        - Audit
      summary: Audit Filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /entities/encode-ip:
    get:
      operationId: Entity_EncodeIP
      tags:
        - Entity
      summary: Encode IP to Asset
      parameters:
        - $ref: '#/components/parameters/ipParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /entities/encode-ip-range:
    get:
      operationId: Entity_EncodeIPRange
      tags:
        - Entity
      summary: Encode IP range
      parameters:
        - $ref: '#/components/parameters/ipRangeParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
              examples:
                example-1:
                  value:
                    error: string
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /entities/encode-subnet:
    get:
      operationId: Entity_EncodeSubnet
      tags:
        - Entity
      summary: Encode IP to Asset
      parameters:
        - $ref: '#/components/parameters/ipSubnetParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/entity/{entityId}':
    get:
      operationId: Entity_Get
      tags:
        - Entity
      summary: Get an entity
      parameters:
        - $ref: '#/components/parameters/entityIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/entity/{entityId}/ancestors':
    get:
      operationId: EntityMemberOf_Get
      tags:
        - Entity
      summary: Get an entity ancestors
      parameters:
        - $ref: '#/components/parameters/entityIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ancestors'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/entity/{entityId}/analysis':
    get:
      operationId: EntityAnalysis_Get
      tags:
        - Entity
      summary: Get an entity analysis
      parameters:
        - $ref: '#/components/parameters/entityIdParameter'
        - $ref: '#/components/parameters/sortParameter'
        - $ref: '#/components/parameters/directionParameter'
        - $ref: '#/components/parameters/connectionStateParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entityAnalysis'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/entity/{entityId}/analysis/export':
    post:
      operationId: EntityAnalysis_Export
      tags:
        - Entity
      summary: Export entity analysis
      parameters:
        - $ref: '#/components/parameters/entityIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/entity/{entityId}/analysis/export/csv/{exportId}':
    get:
      operationId: EntityAnalysisExport_Get
      tags:
        - Entity
      summary: Download entity analysis report
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
        - $ref: '#/components/parameters/entityIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /environments/deployments:
    get:
      operationId: TrustServers_List
      tags:
        - Settings
      summary: List trust server deployments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deploymentsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /groups:
    get:
      operationId: Groups_List
      tags:
        - Groups
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  /groups/export:
    post:
      operationId: Groups_Export
      tags:
        - Groups
      summary: Export groups
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/groups/export/csv/{exportId}':
    get:
      operationId: GroupsExport_Get
      tags:
        - Groups
      summary: Download assets export
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /groups/ad:
    get:
      operationId: ADGroups_List
      tags:
        - Groups-ActiveDirectory
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  /groups/custom:
    get:
      operationId: CustomGroups_List
      tags:
        - Groups-Custom
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
    post:
      operationId: CustomGroups_Create
      tags:
        - Groups-Custom
      summary: Groups
      requestBody:
        description: Protection Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '409':
          description: Already exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alreadyExistError'
      security:
        - api_key: []
  /groups/custom/filters:
    get:
      operationId: CustomGroupsFilters_Get
      tags:
        - Groups-Custom
      summary: Get filters for custom groups
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/groups/custom/{groupId}':
    put:
      operationId: CustomGroups_Update
      tags:
        - Groups-Custom
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
    delete:
      operationId: CustomGroups_Delete
      tags:
        - Groups-Custom
      summary: Groups
      parameters:
        - name: groupId
          in: path
          description: custom group id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  /groups/custom/member-candidates:
    get:
      operationId: CustomGroupsCandidates_List
      tags:
        - Groups-Custom
      summary: Groups
      parameters:
        - name: groupId
          in: query
          description: custom group id
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  '/groups/custom/{groupId}/members':
    put:
      operationId: CustomGroupsMembers_Add
      tags:
        - Groups-Custom
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
    delete:
      operationId: CustomGroupsMembers_Delete
      tags:
        - Groups-Custom
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  /groups/filters:
    get:
      operationId: GroupsFilters_List
      tags:
        - Groups
      summary: Get groups filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /groups/statistics:
    get:
      summary: Group statistics
      tags:
        - Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsStatistics'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: GroupsStatistics_Get
      security:
        - api_key: []
  /groups/successors/filters:
    get:
      operationId: GroupsSuccessorsFilters_List
      tags:
        - Groups
      summary: Get groups successors filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /groups/system:
    get:
      operationId: SystemGroups_List
      tags:
        - Groups-System
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  /groups/system/filters:
    get:
      operationId: SystemGroupsFilters_Get
      tags:
        - Groups-System
      summary: Get system groups filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /groups/tag:
    get:
      operationId: TagGroups_List
      tags:
        - Groups-Tags
      summary: List tags groups
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
      security:
        - api_key: []
  /groups/tag/filters:
    get:
      operationId: TagGroupsFilters_List
      tags:
        - Groups-Tags
      summary: Get tags groups filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/groups/{groupId}/successors':
    get:
      operationId: GroupsMembers_List
      tags:
        - Groups
      summary: Groups
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/includeNestedMembersQueryParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entitiesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/protection-policies:
    get:
      operationId: ProtectionPolicies_List
      tags:
        - Protection Policies
      summary: Get protection policies
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protectionPoliciesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    post:
      operationId: ProtectionPolicies_Create
      tags:
        - Protection Policies
      summary: Add protection policy
      requestBody:
        description: Protection Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/protectionPolicyBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protectionPolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  '/protection/protection-policies/{protectionPolicyId}':
    delete:
      operationId: ProtectionPolicies_Delete
      tags:
        - Protection Policies
      summary: Remove protection policy
      parameters:
        - name: protectionPolicyId
          in: path
          description: The id of the protection policy
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    put:
      operationId: ProtectionPolicies_Update
      tags:
        - Protection Policies
      summary: Update protection policy
      parameters:
        - name: protectionPolicyId
          in: path
          description: The id of the protection policy
          required: true
          schema:
            type: string
      requestBody:
        description: Protection Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/protectionPolicyUpdateBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protectionPolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/protection-policies/group-candidates:
    get:
      operationId: ProtectionPoliciesGroupCandidates_List
      tags:
        - Protection Policies
      summary: Get groups for protection policy
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupCandidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/distribution:
    get:
      summary: MFA distribution
      tags:
        - MFA
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyDistribution'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: MFAPoliciesDistribution_List
      security:
        - api_key: []
  /protection/reactive-policies/statistics:
    get:
      summary: Get MFA statistics
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePoliciesStatistics'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: MFAPoliciesStatistics_List
      tags:
        - MFA
      description: ''
      security:
        - api_key: []
  /protection/reactive-policies/inbound:
    get:
      operationId: MFAInboundPolicies_List
      tags:
        - MFA-Inbound
      summary: Get MFA rules
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    post:
      operationId: MFAInboundPolicies_Create
      tags:
        - MFA-Inbound
      summary: Add MFA rule
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  '/protection/reactive-policies/inbound/{reactivePolicyId}':
    get:
      operationId: MFAInboundPolicies_Get
      tags:
        - MFA-Inbound
      summary: Get an inbound MFA policy
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    put:
      operationId: MFAInboundPolicies_Update
      tags:
        - MFA-Inbound
      summary: Update MFA block rule
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
    delete:
      operationId: MFAInboundPolicies_Delete
      tags:
        - MFA-Inbound
      summary: Remove MFA rule
      parameters:
        - name: reactivePolicyId
          in: path
          description: The id of the rule
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/dst-candidates:
    get:
      operationId: MFAInboundPoliciesDestinationCandidates_List
      tags:
        - MFA-Inbound
      summary: Get destination assets for MFA rules
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/filters:
    get:
      operationId: MFAInboundPoliciesFilters_List
      tags:
        - MFA-Inbound
      summary: Get filters inbound MFA policies
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/filters/dst-candidates:
    get:
      operationId: MFAInboundPoliciesDestinationCandidatesFilters_List
      tags:
        - MFA-Inbound
      summary: Get filters inbound MFA policies destination candidates
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/filters/src-candidates:
    get:
      operationId: MFAInboundPoliciesSourceCandidatesFilters_List
      tags:
        - MFA-Inbound
      summary: Get filters inbound MFA policies source candidates
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/filters/src-users-candidates:
    get:
      operationId: MFAInboundPoliciesSourceUsersCandidatesFilters_List
      tags:
        - MFA-Inbound
      summary: Get filters inbound MFA policies source users
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/mfa-methods:
    get:
      operationId: MFAInboundPoliciesMFAMethods_List
      tags:
        - MFA-Inbound
      summary: Get destination assets for MFA rules
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyMethods'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/src-candidates:
    get:
      operationId: MFAInboundPoliciesSourceCandidates_List
      tags:
        - MFA-Inbound
      summary: Get source assets for MFA rules
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/src-users-candidates:
    get:
      operationId: MFAInboundPoliciesSourceUserCandidates_List
      tags:
        - MFA-Inbound
      summary: Get source users for MFA rules
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srcUserCandidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/simulate:
    get:
      operationId: MFAInboundPolicies_Simulate
      tags:
        - MFA-Inbound
      summary: '*BETA* Simulate MFA access'
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/simulationParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderedReactivePoliciesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/simulate/dst-candidates:
    get:
      operationId: MFAInboundPoliciesSimulateDestinationCandidates_List
      tags:
        - MFA-Inbound
      summary: Get destination assets for MFA simulation
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/simulate/src-candidates:
    get:
      operationId: MFAInboundPoliciesSimulateSourceCandidates_List
      tags:
        - MFA-Inbound
      summary: Get source assets for MFA simulation
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/inbound/simulate/src-users-candidates:
    get:
      operationId: MFAInboundPoliciesSimulateSourceUserCandidates_List
      tags:
        - MFA-Inbound
      summary: Get source users for MFA simulation
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srcUserCandidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/outbound:
    get:
      operationId: MFAOutboundPolicies_List
      tags:
        - MFA-Outbound
      summary: Get outbound MFA policies
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    post:
      operationId: MFAOutboundPolicies_Create
      tags:
        - MFA-Outbound
      summary: Add MFA rule
      requestBody:
        description: Rule properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
  '/protection/reactive-policies/outbound/{reactivePolicyId}':
    get:
      operationId: MFAOutboundPolicies_Get
      tags:
        - MFA-Outbound
      summary: Get an inbound MFA policy
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
    put:
      operationId: MFAOutboundPolicies_Update
      tags:
        - MFA-Outbound
      summary: Update outbound MFA policy
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Reactive Policy properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyBody'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
      x-codegen-request-body-name: body
    delete:
      operationId: MFAOutboundPolicies_Delete
      tags:
        - MFA-Outbound
      summary: Remove outbound MFA policy
      parameters:
        - name: reactivePolicyId
          in: path
          description: The id of the rule
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/outbound/dst-candidates:
    get:
      operationId: MFAOutboundPoliciesDestinationCandidates_List
      tags:
        - MFA-Outbound
      summary: Get destination assets for MFA outbound policy
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/outbound/filters:
    get:
      operationId: MFAOutboundPoliciesFilters_Get
      tags:
        - MFA-Outbound
      summary: Get filters outbound MFA policies
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiError'
      security:
        - api_key: []
  /protection/reactive-policies/outbound/filters/dst-candidates:
    get:
      operationId: MFAOutboundPoliciesDestinationCandidatesFilters_List
      tags:
        - MFA-Outbound
      summary: Get filters inbound MFA policies destination candidates
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
[...]
