openapi: 3.0.1
info:
  title: Zero Networks
  version: 1.0.2
  description: APIs for Zero Networks
servers:
  - url: 'https://portal.zeronetworks.com/api/v1'
    description: production
paths:
  /activities/logon:
    get:
      operationId: LogonActivities_List
      summary: List Logon Activities
      description: Returns a list of logon activites.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logonActivitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/logon/export:
    post:
      operationId: LogonActivities_Export
      summary: Export logon activities
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  '/activities/logon/export/csv/{exportId}':
    get:
      operationId: LogonActivitiesExport_Get
      summary: Download logon activities export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
      tags:
        - Activities
  /activities/logon/filters:
    get:
      operationId: LogonActivitiesFilters_List
      summary: Get logon activity filters
      description: Returns the filters that can be used for logon activities.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/network:
    get:
      operationId: NetworkActivities_List
      summary: List Network Activities
      description: Returns a list of network activites.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/network/export:
    post:
      operationId: NetworkActivities_Export
      summary: Export network activities
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  '/activities/network/export/csv/{exportId}':
    get:
      operationId: NetworkActivitiesExport_Get
      summary: Download network activities export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
      tags:
        - Activities
  /activities/network/filters:
    get:
      operationId: NetworkActivitiesFilters_List
      summary: Get network activity filters
      description: Returns the filters that can be used for network activities.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/rpc:
    get:
      operationId: RPCActivities_List
      summary: List RPC Activities
      description: Returns a list of RPC activites.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcActivitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/rpc/export:
    post:
      operationId: RPCActivities_Export
      summary: Export RPC activities
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  '/activities/rpc/export/csv/{exportId}':
    get:
      operationId: RPCActivitiesExport_Get
      summary: Download RPC activities export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
      tags:
        - Activities
  /activities/rpc/filters:
    get:
      operationId: RPCActivitiesFilters_List
      summary: Get RPC activity filters
      description: Returns the filters that can be used for RPC activities.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/rpc/filters/interface-candidates:
    get:
      operationId: RPCActivitiesInterfaceCandidatesFilters_List
      summary: Get RPC activity Interface Name filters
      description: Returns the interface name filters that can be used for RPC activities.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /activities/rpc/filters/op-candidates:
    get:
      operationId: RPCActivitiesOperationFilters_List
      summary: Get RPC activity operation filters
      description: Returns the operation filters that can be used for RPC activities.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Activities
  /ai/next-batch:
    get:
      operationId: AINextBatch_Get
      summary: AI Next Batch
      description: Returns a date in epoch(ms) for the next batch of AI rules.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextBatch'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
  /assets:
    get:
      operationId: Assets_List
      summary: Assets
      description: Returns a list of assets.
      parameters:
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/withCountParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  /assets/actions/protect:
    post:
      operationId: Assets_Protect
      summary: Move asset from learning to protection
      description: Returns and empty object.
      requestBody:
        description: Array of assetIds to move to protection
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets Protected
  /assets/actions/protect/validate:
    post:
      operationId: AssetsProtect_Validate
      summary: Validate assets for protection
      description: Returns a number of assets that are valid for protection.
      requestBody:
        description: Array of assetIds to move to protection
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  /assets/actions/queue:
    post:
      operationId: Assets_Queue
      summary: Move asset from monitored to learning
      description: Returns and empty object.
      requestBody:
        description: Array of assetIds to move to protection
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets Monitored
    put:
      operationId: Assets_ExtendQueue
      summary: Extend asset learning period
      description: Returns an empty object.
      requestBody:
        description: Array of assetIds to move to protection
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueExtendBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets Learning
  /assets/actions/unprotect:
    post:
      operationId: Assets_Unprotect
      summary: Unprotect asset
      description: Returns an empty object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets Protected
  /assets/actions/unprotect/validate:
    post:
      operationId: AssetsUnprotect_Validate
      summary: Validate assets for removing from protection
      description: Returns a number of assets that are valid to unprotect.
      requestBody:
        description: Array of assetIds to remove from protection
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetBody'
            examples: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets Protected
  /assets/export:
    post:
      operationId: Assets_Export
      summary: Export assets
      description: Returns an exportId to pass into the download API.
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyAssets'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/export/csv/{exportId}':
    get:
      operationId: AssetsExport_Get
      summary: Download assets export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
      tags:
        - Assets
  /assets/filters:
    get:
      operationId: AssetsFilters_List
      summary: Assets Filters
      description: Returns the filters that can be used for assets.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  /assets/linux:
    post:
      operationId: AssetsLinux_Create
      summary: Create linux asset
      description: Returns the assetId of the created Linux asset.
      requestBody:
        description: Linux asset details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linuxBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetIds'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets Linux
  '/assets/{assetId}':
    get:
      operationId: Asset_Get
      summary: Get an asset
      description: Returns the properties of an asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/actions/protect':
    post:
      operationId: Asset_Protect
      summary: Move specific asset from learning to protection
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/actions/protect/validate':
    post:
      operationId: AssetProtect_Validate
      summary: Validate specific asset for protection
      description: Returns a number of assets that are valid for protection.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/actions/queue':
    put:
      operationId: AssetExtendQueue_Learn
      summary: Extend asset learning
      description: Extend asset learning
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Queue days to extand by
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueAssetExtendBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    post:
      operationId: AssetQueue_Learn
      summary: Extend asset learning
      description: Extend asset learning
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Queue days
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/queueAssetBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/actions/retry-health':
    post:
      operationId: AssetRetryHealth_Invoke
      summary: Retry asset health checks
      description: Retry asset health checks
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/actions/unprotect':
    post:
      operationId: Asset_Unprotect
      summary: Unprotect a specific asset
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emptyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/actions/unprotect/validate':
    post:
      operationId: AssetUnprotect_Validate
      summary: Validate a specific asset for removing from protection
      description: Returns a number of assets that are valid to unprotect.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/logon':
    get:
      operationId: AssetLogonActivities_List
      summary: List a specific Logon Activities
      description: Returns a list of logon activites for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logonActivitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/logon/export':
    post:
      operationId: AssetLogonActivities_Export
      summary: Export logon activities for a specific asset
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/logon/export/csv/{exportId}':
    get:
      operationId: AssetLogonActivitiesExport_Get
      summary: Download logon activities for a specific asset export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/logon/filters':
    get:
      operationId: AssetLogonActivitiesFilters_List
      summary: Get logon activity filters for a specific asset
      description: Returns the filters that can be used for logon activities for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/network':
    get:
      operationId: AssetNetworkActivities_List
      summary: List Network Activities for a specific asset
      description: Returns a list of network activites for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/network/export':
    post:
      operationId: AssetNetworkActivities_Export
      summary: Export network activities for a specific asset
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/network/export/csv/{exportId}':
    get:
      operationId: AssetNetworkActivitiesExport_Get
      summary: Download network activities export for a specific asset
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/network/filters':
    get:
      operationId: AssetNetworkActivitiesFilters_List
      summary: Get network activity filters for a specific asset
      description: Returns the filters that can be used for network activities for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/rpc':
    get:
      operationId: AssetRPCActivities_List
      summary: List RPC Activities for a specific asset
      description: Returns a list of RPC activites for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
        - $ref: '#/components/parameters/orderParameter'
        - $ref: '#/components/parameters/filtersParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcActivitiesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/rpc/export':
    post:
      operationId: AssetRPCActivities_Export
      summary: Export RPC activities for a specific asset
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyActivities'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/rpc/export/csv/{exportId}':
    get:
      operationId: AssetRPCActivitiesExport_Get
      summary: Download RPC activities export for a specific asset
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: object
                format: file
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/rpc/filters':
    get:
      operationId: AssetRPCActivitiesFilters_List
      summary: Get RPC activity filters for a specific asset
      description: Returns the filters that can be used for RPC activities for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/rpc/filters/interface-candidates':
    get:
      operationId: AssetRPCActivitiesInterfaceCandidatesFilters_List
      summary: Get RPC activity Interface Name filters for a specific asset
      description: Returns the interface name filters that can be used for RPC activities for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/activities/rpc/filters/op-candidates':
    get:
      operationId: AssetRPCActivitiesOperationFilters_List
      summary: Get RPC activity operation filters for a specific asset
      description: Returns the operation filters that can be used for RPC activities for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/ancestors':
    get:
      operationId: AssetMemberOf_Get
      summary: Get an asset ancestors
      description: Returns a list of groups the asset is a member of.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ancestors'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/analysis':
    get:
      operationId: AssetAnalysis_Get
      summary: Get an asset analysis
      description: Returns an object with asset analysis data.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/sortParameter'
        - $ref: '#/components/parameters/analysisDirectionParameter'
        - $ref: '#/components/parameters/connectionStateParameter'
        - $ref: '#/components/parameters/fromParameter'
        - $ref: '#/components/parameters/toParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetAnalysis'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/analysis/export':
    post:
      operationId: AssetAnalysis_Export
      summary: Export asset analysis
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyAnalysis'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/analysis/export/csv/{exportId}':
    get:
      operationId: AssetAnalysisExport_Get
      summary: Download asset analysis report
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/exportIdParameter'
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/audit':
    get:
      operationId: AssetAudit_Get
      summary: Get a assets audits
      description: Returns a list of audits for the asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/orderParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auditList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/audit/export':
    post:
      operationId: AssetAudit_Export
      summary: Export assets audits
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/audit/export/csv/{exportId}':
    get:
      operationId: AssetAuditExport_Get
      summary: Download assets audit export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/audit/filters':
    get:
      operationId: AssetAuditsFilters_List
      summary: List Audit Filters for a specific asset
      description: Returns a list of filters for Audit events for a specific asset.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/listening-ports':
    get:
      operationId: AssetListeningPorts_List
      summary: List listening ports of asset
      description: List listening ports of an asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listeningPortsList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/managers':
    get:
      operationId: AssetAssetManagers_List
      summary: Get managers of asset
      description: Get asset managers of asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    post:
      operationId: AssetAssetManagers_Add
      summary: Add manager of asset
      description: Add an asset manager of asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Array of managers to add
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/assetManagersBody'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/managers/{groupOrUserId}':
    delete:
      operationId: AssetAssetManagers_Delete
      summary: Remove manager of asset
      description: Remove an asset manager of asset
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/groupOrUserIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/managers/candidates':
    get:
      operationId: AssetAssetManagersCandidates_List
      summary: Get manager candidates
      description: Get manager candidates for asset managers
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound':
    get:
      operationId: AssetMFAInboundPolicies_List
      summary: Asset List Inbound MFA Policies
      description: Returns a list of inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/entityIdQueryParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    post:
      operationId: AssetMFAInboundPolicies_Create
      summary: Asset Add Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after creation.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: MFA properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/{reactivePolicyId}':
    get:
      operationId: AssetMFAInboundPolicies_Get
      summary: Asset Get Inbound MFA Policy
      description: Returns a inbound MFA policy object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    put:
      operationId: AssetMFAInboundPolicies_Update
      summary: Asset Update Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after updating.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    delete:
      operationId: AssetMFAInboundPolicies_Delete
      summary: Asset Remove Inbound MFA Policy
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/dst-candidates':
    get:
      operationId: AssetMFAInboundPoliciesDestinationCandidates_List
      summary: Asset Get destination assets for Inbound MFA Policy
      description: Returns a list of candidates for the destionation of an inbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/excluded-src-candidates':
    get:
      operationId: AssetMFAInboundPoliciesExcludedSourceCandidates_List
      summary: Asset get excluded source asset candidates for Inbound MFA Policy
      description: Returns a list of candidates for the excluded sources of an inbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/isSrcAssetUnmonitoredParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/filters':
    get:
      operationId: AssetMFAInboundPoliciesFilters_List
      summary: Asset List Inbound MFA Policy Filters
      description: Returns a list of filters for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/filters/dst-candidates':
    get:
      operationId: AssetMFAInboundPoliciesDestinationCandidatesFilters_List
      summary: Asset Get Inbound MFA Policies Destination Candidates Filters
      description: Returns a list of filters for destination candidates for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/filters/src-candidates':
    get:
      operationId: AssetMFAInboundPoliciesSourceCandidatesFilters_List
      summary: Asset List Inbound MFA Policies Source Candidates Filters
      description: Returns a list of filters for source candidates for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/filters/src-users-candidates':
    get:
      operationId: AssetMFAInboundPoliciesSourceUsersCandidatesFilters_List
      summary: Asset Get Inbound MFA Policies Source Users Filters
      description: Resturns a list of filters for source users on inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/mfa-methods':
    get:
      operationId: AssetMFAInboundPoliciesMFAMethods_List
      summary: Asset List Inbound MFA Policy Methods
      description: Returns a list of MFA methods for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyMethods'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/src-candidates':
    get:
      operationId: AssetMFAInboundPoliciesSourceCandidates_List
      summary: Asset List Inbound MFA Polcies Source Candidates
      description: Returns a list of source candidates on inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/inbound/src-users-candidates':
    get:
      operationId: AssetMFAInboundPoliciesSourceUserCandidates_List
      summary: Asset List Inbound MFA Policies Source Users Candidates
      description: Returns a list of source user candidates for inbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srcUserCandidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound':
    get:
      operationId: AssetMFAOutboundPolicies_List
      summary: Asset List Outbound MFA Policies
      description: Returns a list of outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    post:
      operationId: AssetMFAOutboundPolicies_Create
      summary: Asset Add Outbound MFA Policy
      description: Returns a the properties of outbound MFA policy created.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyOutboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/{reactivePolicyId}':
    get:
      operationId: AssetMFAOutboundPolicies_Get
      summary: Asset Get Outbound MFA Policy
      description: Returns the properties of an outbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    put:
      operationId: AssetMFAOutboundPolicies_Update
      summary: Asset Update Outbound MFA Policy
      description: Returns the updated properties of an outbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Reactive Policy properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyOutboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    delete:
      operationId: AssetMFAOutboundPolicies_Delete
      summary: Asset Remove Outbound MFA Policy
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/dst-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesDestinationCandidates_List
      summary: Asset List Outbound MFA Policies Destination Candidates
      description: Returns a list of destination candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/excluded-src-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesExcludedSourceCandidates_List
      summary: Asset get excluded source asset candidates for Outbound MFA Policy
      description: Returns a list of candidates for the excluded sources of an outbound MFA policy.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
        - $ref: '#/components/parameters/isSrcAssetUnmonitoredParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/filters':
    get:
      operationId: AssetMFAOutboundPoliciesFilters_Get
      summary: Asset List Outbound MFA Policies Filters
      description: Returns a list of filters for outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/filters/dst-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesDestinationCandidatesFilters_List
      summary: Asset List Outbound MFA Policies Destination Candidates Filters
      description: Returns a list of filters for destination candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/filters/src-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesSourceCandidatesFilters_List
      summary: Asset Get Outbound MFA Policies Source Candidates Filters
      description: Returns a list of filters for source candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/filters/src-users-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesSourceUsersCandidatesFilters_List
      summary: Asset List Outbound MFA Policies Source Users Candidates Filters
      description: Returns a list of filsters for source users candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetsFiltersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/mfa-methods':
    get:
      operationId: AssetMFAOutboundPoliciesMFAMethods_List
      summary: Asset List Outbound MFA Policies Methods
      description: Returns a list of MFA methods on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyMethods'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/src-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesSourceCandidates_List
      summary: Asset List Outbound MFA Policies Source Candidates
      description: Returns a list of source candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/reactive-policies/outbound/src-users-candidates':
    get:
      operationId: AssetMFAOutboundPoliciesSourceUserCandidates_List
      summary: Asset Get Outbound MFA Policies Source Users Candidates
      description: Returns a list of source users candidates on outbound MFA policies.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/srcUserCandidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/distribution/{ruleId}':
    get:
      operationId: AssetRulesDistribution_Get
      summary: Get distribution of rule hit count for a specific asset
      description: Returns an object with rules distribution.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
        - $ref: '#/components/parameters/ruleDirectionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleDistribution'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/history/{ruleId}':
    get:
      operationId: AssetRulesHistory_Get
      summary: Get a historic version of an rule for a specific asset
      description: Returns the properties of the previous version of the rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
        - $ref: '#/components/parameters/updateIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/historyRule'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow':
    get:
      operationId: AssetInboundAllowRules_List
      summary: Asset List Inbound Allow Rules
      description: Returns a list of Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/entityParams'
        - $ref: '#/components/parameters/withCountParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
        - $ref: '#/components/parameters/directionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rulesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    post:
      operationId: AssetInboundAllowRules_Create
      summary: Asset Create Inbound Allow Rule
      description: Returns the properties of the created Inbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/export':
    post:
      operationId: AssetInboundAllowRules_Export
      summary: Asset Export Inbound Allow Rules
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyRules'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/export/csv/{exportId}':
    get:
      operationId: AssetInboundAllowRulesExport_Get
      summary: Download assets inbound allow rules export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/{ruleId}':
    get:
      operationId: AssetInboundAllowRule_Get
      summary: Asset Get Inbound Allow Rule
      description: Returns the properties of an Inbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    put:
      operationId: AssetInboundAllowRule_Update
      summary: Asset Update Inbound Allow Rule
      description: Returns the properties of the update Inbound Allow rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    delete:
      operationId: AssetInboundAllowRule_Delete
      summary: Asset Remove Inbound Allow Rule
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/review/approve/{ruleId}':
    put:
      operationId: AssetInboundAllowRulesReview_Approve
      summary: Asset Approve a "pending review" rule
      description: Approve a "pending review" rule without changes
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
  '/assets/{assetId}/protection/rules/inbound-allow/review/approve-with-changes/{ruleId}':
    put:
      operationId: AssetInboundAllowRulesReview_ApproveWithChanges
      summary: Asset Update Inbound Allow Rule
      description: Approve a "pending review" rule with changes
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewApproveWithChanges'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/review/reject/{ruleId}':
    delete:
      operationId: AssetInboundAllowRulesReview_Deny
      summary: Asset ''
      description: Reject a "pending review" rule (deletes rule)
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleReviewReason'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  '/assets/{assetId}/protection/rules/inbound-allow/filters':
    get:
      operationId: AssetInboundAllowRulesFilters_List
      summary: Asset List Inbound Allow Rules Filters
      description: Returns a list of filters for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/excluded-local-candidates':
    get:
      operationId: AssetInboundAllowRulesExcludedDestinationCandidates_List
      summary: Asset Get Inbound Allow Rules Excluded Destination Candidates
      description: Returns a list of excluded destionation candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/local-candidates':
    get:
      operationId: AssetInboundAllowRulesDestinationCandidates_List
      summary: Asset List Inbound Allow Rules Destination Candidates
      description: Returns a list of destionation candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/filters/local-candidates':
    get:
      operationId: AssetInboundAllowRulesDesinationCandidatesFilters_List
      summary: Asset List Inbound Allow Rules Destination Candidates Filters
      description: Returns a list of filters for destination candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/remote-candidates':
    get:
      operationId: AssetInboundAllowRulesSourceCandidates_List
      summary: Asset List Inbound Allow Rules Source Candidates
      description: Returns a list of source candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/cursorParameter'
        - $ref: '#/components/parameters/searchParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/candidatesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-allow/filters/remote-candidates':
    get:
      operationId: AssetInboundAllowRulesSourceCandidatesFilters_List
      summary: Asset Get Inbound Allow Rules Source Candidates Filters
      description: Returns a list of filters for source candidates for Inbound Allow rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filtersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-block':
    get:
      operationId: AssetInboundBlockRules_List
      summary: Asset List Inbound Block Rules
      description: Returns a list of Inbound Block rules.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/limitParameter'
        - $ref: '#/components/parameters/offsetParameter'
        - $ref: '#/components/parameters/filtersParameter'
        - $ref: '#/components/parameters/entityParams'
        - $ref: '#/components/parameters/withCountParameter'
        - $ref: '#/components/parameters/addBuiltinsParameter'
        - $ref: '#/components/parameters/addAncestorsParameter'
        - $ref: '#/components/parameters/directionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rulesList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    post:
      operationId: AssetInboundBlockRules_Create
      summary: Asset Create Inbound Block Rule
      description: Returns the properties of the created Inbound Block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-block/export':
    post:
      operationId: AssetInboundBlockRules_Export
      summary: Asset Export Inbound Block Rules
      description: Returns an exportId to pass into the download API.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
      requestBody:
        description: 'EntityId, from, to, search, filter or date time format for export'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportBodyRules'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportId'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-block/export/csv/{exportId}':
    get:
      operationId: AssetInboundBlockRulesExport_Get
      summary: Download assets inbound block rules export
      description: Returns a csv file to be downloaded.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/exportIdParameter'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
                format: binary
      security:
        - api_key: []
      tags:
        - Assets
  '/assets/{assetId}/protection/rules/inbound-block/{ruleId}':
    get:
      operationId: AssetInboundBlockRule_Get
      summary: Asset Get Inbound Block Rule
      description: Returns the properties of the Inbound Block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    put:
      operationId: AssetInboundBlockRule_Update
      summary: Asset Update Inbound Block Rule
      description: Returns the properties of the updated Inbound Block rule.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
    delete:
      operationId: AssetInboundBlockRule_Delete
      summary: Asset Remove Inbound Block Rule
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/assetIdParameter'
[...]
